# Node
node_modules/
show **/node_modules/
**/node_modules.bak/
npm-debug.log
package-lock.json
.env

# Expo
.expo/
.expo-shared/
.expo-local/

# macOS
.DS_Store

# Logs
logs/
*.log

# Dist/build
dist/
build/

# OS files
Thumbs.db

# Editor
.vscode/
.idea/
